@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto&display=swap');

body {
    background-color: #fcfcfc;
    margin: 30px;
    font-family: Roboto, sans-serif;
    color: #2c2c44;
}

/** headings **/

h1, h2 {
    font-family: Playball, sans-serif;
}

/** heading **/

header {
    margin-left: 20%;
    margin-right: 20%;
}

#logo {
    float: left;
}

#title {
    font-size: xxx-large;
    color: #c164d8;
    text-align: center;
}

#menu {
    float: right;
}

/** menu navigation links **/

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #c164D8;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/** What are Fairies **/

#left-image {
    float: left;
    margin-right: 10px;
}

#right-image {
    float: right;
    margin-left: 10px;
}

#about-fairy {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

/** History and Interesting facts **/

#history {
    text-align: center;
}

#facts {
    text-align: center;
}

/** Survey link **/

#survey {
    text-align: center;
}