@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto&display=swap');

body {
    background-color: #fcfcfc;
    margin: 30px;
    font-family: Roboto, sans-serif;
    color: #2c2c44;
}

/** headings **/

h1, h2 {
    font-family: Playball, sans-serif;
}

/** heading **/

header {
    margin-left: 20%;
    margin-right: 20%;
}

#logo {
    float: left;
}

#title {
    font-size: xxx-large;
    color: #c164d8;
    text-align: center;
}

#menu {
    float: right;
}

/** menu navigation links **/

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #c164D8;
}

.active{
    border-bottom: 1px solid #c164d8;
}

/** What are Fairies **/

#left-image {
    float: left;
    margin-right: 10px;
}

#right-image {
    float: right;
    margin-left: 10px;
}

#about-fairy {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

/** History and Interesting facts **/

#history {
    text-align: center;
}

#facts {
    text-align: center;
}

/** Survey link **/

#survey {
    text-align: center;
}


/* Footer */

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #c164d8;
}

/* Gallery Photos */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photos img{
    width: 100%;
}


/* About US Form */

#about-us {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#contact {
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #c164d8;
}

.comment {
    background: transparent;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px 0;
    border: 1px solid;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
}

.comment:hover {
    border-color: #c164d8;
}
#submit-button {
    margin: 0 auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: medium;
    background-color: #c164d8;
    display: block;
}


/** Survey page **/

#video {
    text-align: center;
}

#survey {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#survey-submit {
    margin: 20px auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: medium;
    background-color: #c164d8;
    display: block;
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    body {
        margin: 5px;
    }

    #banner {
        margin: 0px auto;
        padding-bottom: 5%;
    }

    #logo{
        width: 20px;
        height: 20px;
    }

    #menu {
        font-size: xx-small;
        width: 150px
    }

    #title {
        font-size: larger;
        text-align: right;
    }

    #fairy-about {
        width:90%;
        height: 100%;
        margin: 0 auto;
    }

    #left-image, #right-image{
        float: none;
        text-align: center;
        margin: 0 auto;
    }
}